@font-face {
	font-family:Niconne;
	src:url('../fonts/Niconne-Regular.ttf') format('truetype');
}
@font-face {
	font-family:led_7;
	src:url('../fonts/digital-7.ttf') format('truetype');
}
@font-face {
	font-family:Srisakdi-Bold;
	src:url('../fonts/Srisakdi-Bold.ttf') format('truetype');
}
body{
	min-height: 100vh;
	width: 100%;
	background-size: 1440px auto;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	position: relative;
}
/* ----------------------header----------------------- */
#head-con{
	background-image: url('../images/spr.png');
	background-size: auto 46px;
	background-repeat: repeat-x;
	background-position: bottom;
}
#duc{
	display: block;
	vertical-align: middle;
	font-size: 160%;
	font-family: Niconne;
	transition: 1.5s all;
	z-index: 11;
}
#duc>a{
	text-decoration: none;
}
/* ------------------socical------------------- */
ul.socical-me{
	list-style-type: none;
	width: auto;
}
ul.socical-me>li{
	font-size: 180%;
	float: left;
	padding: 0 3px;
}
ul.socical-me>li>a:hover{
	color: #d5a32a;
	transition: .6s all;
}

#bg-menu-l{
	position: absolute;
	width: 100vw;
	height: 100%;
	z-index: -5;
	background-color: transparent;
}
.clock{
	padding: 0;
	color: red;
	font-size: 32.5px;
	line-height: 33px;
	font-family: led_7;
	box-sizing: border-box;
}
iframe{
	width: 100%;
	height: 16vw;
	margin: 11px auto;
	border: 2px solid red;
	border-radius: 5px;
}
#assistive-left{
	display: none;
	border: none;
	background-color: transparent;
	width: 11%;
	opacity: .3;
}
#assistive-left img{
	width: 100%;
}
.main-left{
	position: static;
	display: block;
	width: 100%;
	height: 70vw;
}
.main-left img{
	width: 100%;
}
.main-left a:hover img{
	transform: rotateY(11turn);
	transition: 16s;
}
#left7:hover, #left2:hover, #left10:hover{
	transform: rotateZ(111turn);
	transition: 60s;
}
.main-center{
	border: 1px solid;
}
.main-center .col-3{
	padding-left: 6px;
	padding-right: 6px;
}
.main-center .app-center{
	position: relative;

}
.app-center img{
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	z-index: 11;
	width: 100%;
	opacity: .76;
}
.heart-left:hover img, .heart-right:hover img{
	position: relative;
	opacity: 1;
	top: -2px;
	box-shadow: 2px 5px 11px #001; 
}
.search-youtube{
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
}
.search-youtube form{
	width: 100%;
}
.form-custom{
	position: relative;
	width: 69%;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
	border-bottom: 3px double red;
	background-image: url("../images/1.png");
	background-position: bottom;
	background-size: auto 26px;
	background-repeat: repeat-x;
}
.input-custom{
	position: absolute;
	padding: 0 6px;
	height: 100% !important;
	width: 84%!important;
	background-color: transparent;
	border: none;
	color: white;
	font-family: Srisakdi-Bold;
	font-size: 22px;
	outline: none;
}
.btn-custom{
	width: 36px;
}
.search-youtube img{
	width: 36px;
	background-color: transparent;
}
.search-youtube img:hover{
	position: relative;
	width: 38px;
	top: -3px;
}
.app-m-right .heart-right:last-child {
	position: absolute;
	right: 87.5%;
	bottom: -13%;
}
.appRight{
	max-height: 20vw;
	border-bottom: 1px solid #ccc;
	overflow: scroll;
}
ul.app-right{
	max-height: 28px; 
}
ul.app-right a{
	text-decoration: none;
	height: 24px;
	background-color: transparent;
	border: none;
	color: white;
	font-family: 'time-new-roman';
	font-weight: bold;
}
ul.app-right a.limit-1:hover{
	padding-left: 8px !important;
	color: purple;
}
ul.app-right a>img{
	width: 22px;
}
.limit-1{
	/* giới hạn cho tên trong 1 dòng */
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

div.addr-scroll{
	/* cuộn dòng cho văn bản dài */
	display: block;
	float: left;
	width: 85%;
	overflow: scroll;
}
@media (max-width: 575px) {
	iframe{
		height: 30vw;
	}
	#assistive-left{
		display: block;
		position: fixed;
		top: 40%;
		left: 0;
		z-index: 999;
	}
	#assistive-left:hover{
		background-color: transparent;
		opacity: 1 !important;
	}
	.main{
		position: relative;
	}
	.main-left{
		display: none;
		position: fixed;
		width: 86%;
		height: auto;
		overflow: hidden;
		z-index: 1101;
		background-color: #000;
		opacity: 0.74;
		border-radius: 11px;
	}
	.main-left img{
		opacity: 1 !important;
	}
	.main-center{
		min-height: 200vw;
	}
	.appRight{
		max-height: 250px;
	}
}

@media (max-width: 380px) {
	.main-center .col-3, .main-center .col-6{
		padding-left: 3px;
		padding-right: 3px
	}
}



