<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>💖💞ĐứÇ💝💘</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="images/logo.png">
  <meta name="description" content="This pages made for my knowleage">
  <meta name="author" content="Đức - Đoàn Văn Đức">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome/css/all.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body onload="clock(); nhay();" id="body" onresize="checkMenu();">
  <button type="button" class="btn btn-info p-0 btn-assis" id="assistive-left"><img src="images/assistive.png" alt=""></button>
  <header id="header" class="">
    <div class="container-xl" id="head-con">
      <div class="row">
        <div class="col-sm-6">
          <div class="d-block">
            <div class="d-inline text-left duc" id="duc">
              <a class="mrDuc" href="/">M</a>
              <a class="mrDuc" href="/">r</a>
              <a class="mrDuc" href="/">.</a>
              <a class="mrDuc" href="/">D</a>
              <a class="mrDuc" href="/">U</a>
              <a class="mrDuc" href="/">C</a>
            </div>
            <div class="d-inline float-right p-0 m-0 text-right clock">
              <span id="hour" style=""></span>
              <span id="minute" style=""></span>
              <span id="second" style="color: blue; font-size: 20px;"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col pl-0 pr-0">
              <div class="socical">
                <ul class="socical-me my-auto p-0 text-justify text-danger">
                  <li class="socical-icon"><a href="https://fb.me/pttt.1101" target="_blank" title="ÐứÇ_Facebook"><em class="fab fa-facebook-square"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="https://instagram.com/duc_0616/" target="_blank" title="ÐứÇ_Instagram"><em class="fab fa-instagram"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="https://twitter.com/duc_0616/" target="_blank" title="ÐứÇ_Twitter"><em class="fab fa-twitter-square"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="https://web.skype.com/8:live:doanvanduc.pro1606" target="_blank" title="ÐứÇ_Skype"><em class="fab fa-skype"></em></a><br>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col pl-0 pr-0">
              <div class="contact">
                <span class="contact-me">
                  &nbsp;<i class="fas fa-mobile-alt text-warning"><small class="text-danger">&nbsp;+84385.xxx.115</small></i>
                  <br>
                  <i class="far fa-envelope text-warning"><small class="font-weight-bold text-danger"> mr.duc0616@gmail.com</small></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->
  <div id="bg-menu-l">
  </div>
  <div class="container-xl main">
    <div class="row">
      <div class="col-sm-3 pl-4 pr-4 pt-2 pt-sm-0 main-left" id="mainLeft">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4:4">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- ---------------show-sm----left-------------->
          <div class="col-3 col-sm-6">
            <div class="row">
              <div class="col-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4:8">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
          <div class="col-3 col-sm-6 order-3 order-sm-2">
            <div class="row">
              <div class="col-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4:12">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-12 order-2 order-sm-3 p-0">
            <iframe ng-src="{{linkYoutube| trustUrl}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope" allowfullscreen controls></iframe>
          </div>
        </div>
        <!-- ----ap---- -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp" ng-show="key % 2 == 0 && key > 15">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp" ng-show="key % 2 != 0 && key > 15">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <small style="color: rgba(0, 0, 0, 0)">
           private static Connection getConnection() {
        try {
            Class.forName(DRIVER);
            return DriverManager.getConnection(HOST, USERNAME, PASSWORD);
            -----
            public static ResultSet executeQuery(String sql, Object... params)(int exUP) {
        Connection conn = SqlConnect.getConnection();
        try {
            CallableStatement cs = conn.prepareCall(sql);
            if (params != null && params.length > 0) {
                for (int i = 0; i < params.length; i++) {
                    cs.setObject((i + 1), params[i]);
                }
            }
            return cs.executeQuery();
           ------
                                                  private StudentDAO studentDAO = new StudentDAO();
            while(rs.next()){
               Product p = new Product(rs.getInt(1), rs.getString(2), rs.getString(3), rs.getInt(4), rs.getFloat(5), rs.getInt(6));
               p.output();
           }
                                                  
                                                  --------------------
            </small>
        </div>
      </div>
      <div class="col-sm-7 main-center">
        <ng-view></ng-view>
      </div>
      <div class="col-sm-2 main-right">
        <div class="row">
          <div class="col-6 col-sm-12 p-2 appRight">
            <ul class="list-group list-group-horizontal mb-2 app-right" ng-repeat="(key, value) in rightApp">
              <a class="list-group-item p-0" href="{{value.link}}" title="{{value.name}}"><img ng-src="{{value.image}}" class=""></a>
              <a class="list-group-item p-0 pl-1 limit-1" href="{{value.link}}" title="{{value.name}}">{{value.name}}</a>
            </ul>
          </div>
          <div class="col-6 col-sm-12 p-2 appRight">
            <ul class="list-group list-group-horizontal mb-3 m-sm-2 app-right" ng-repeat="(key, value) in custom">
              <a class="list-group-item p-0" href="{{value.link}}" title="{{value.name}}"><img ng-src="{{value.image}}" class=""></a>
              <a class="list-group-item p-0 pl-1 limit-1" href="{{value.link}}" title="{{value.name}}">{{value.name}}</a>
            </ul>
          </div>
        </div>
        <div class="row">
          <small style="color: rgba(0, 0, 0, 0)">
           List<Admin> toList();
    List<Admin> findByName(String ten);
    Admin find(int id);
    void add(Admin entity);
            --
            private SanPhamDAOImp sanPhamDAOImp;
            tblSanPham.getSelectionModel().addListSelectionListener(new ListSelectionListener() {
            @Override
            public void valueChanged(ListSelectionEvent e) {
                loadChiTietSP();

            }
        });
            -------
            private void loadCombobox() {
            List<SanPham> lstSpn = new ArrayList<>();
            ResultSet rs = SqlConnect.executeQuery("select * from tblDanhMuc", null);
            while (rs.next()) {
                DanhMuc dm = new DanhMuc();
                dm.setId(rs.getInt("id"));
                dm.setTenDanhMuc(rs.getString("ten_dm"));
                lstDanhMuc.add(dm);
            for (DanhMuc danhMuc : lstDanhMuc) {
            modelDanhMuc.addElement(danhMuc);
        }
        cboDanhMuc.setModel(modelDanhMuc);
            
            public void loadChiTietSP() {
        int selectRow = tblSanPham.getSelectedRow();
        if (selectRow >= 0) {
            
            String code = (String) tblSanPham.getValueAt(selectRow, 1);
            SanPham sp = sanPhamDAOImp.find(code);
            txtMaSP.setText(String.valueOf(sp.getId()));
            
            ---
            ResultSet rs = SqlConnect.executeQuery("select * from tblDanhMuc where id=?", sp.getId_dm());
                while (rs.next()) {
                    DanhMuc dm = new DanhMuc();
                    dm.setId(rs.getInt("id"));
                    dm.setTenDanhMuc(rs.getString("ten_dm"));

                    modelDanhMuc.setSelectedItem(dm);
            =====
            List<SanPham> lstSanPham = sanPhamDAOImp.toList();
        DefaultTableModel model = (DefaultTableModel) tblSanPham.getModel();
        model.setRowCount(0);
        for (SanPham sp : lstSanPham) {
            model.addRow(new Object[]{
                sp.getTen_dm(),
            });
        }

        tblSanPham.setModel(model);
            </small>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js and Bootstrap JS. -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/jquery-3.5.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
