<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>💖💞ĐứÇ💝💘</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/logo.png">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body id="_body" onload="nhay();clock();show_button();" onresize="show_button();">
	<nav class="row">
		<div class="col-xs-5 text-center duc" id="duc">
			<name id="m">M</name>
			<name id="r">r</name>
			<name id="ch">.</name>
			<name id="d">D</name>
			<name id="u">U</name>
			<name id="c">C</name>
		</div>
		<div id="" class="col-xs-3 text-center nav_clock">
			<span id="hour" style=""></span>
			<span id="minute" style=""></span>
			<span id="second" style="color: blue; font-size: 20px;"></span>
		</div>
		<div class="col-xs-4 text-right mail_duc">
			<button type="button" id="bu_mail" onclick="show_menu()">mr.duc0616@gmail.com</button>
			<span class="" id="sp_mail">mr.duc0616@gmail.com</span>
		</div>
	</nav>
	<div class="row application">
		<div class="col-sm-3 _container app_left " id="show_app_left">
			<div class="row">
				<div class="col-xs-3 row">
					<div class="col-xs-6 col-sm-12 sub_app" ng-repeat="(key, value) in leftApp | limitTo:2:0">
						<a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
					</div>
				</div>
				<div class="col-xs-6 row">
					<div class="col-xs-3 col-sm-6 sub_app" ng-repeat="(key, value) in leftApp | limitTo:4:2">
						<a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
					</div>
				</div>
				<div class="col-xs-3 row">
					<div class="col-xs-6 col-sm-12 sub_app" ng-repeat="(key, value) in leftApp | limitTo:2:6">
						<a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 row container-fluid">
				<div class="col-xs-3 col-sm-6 row">
					<div class="col-xs-6  sub_app" ng-repeat="(key, value) in leftApp | limitTo:2:8">
						<a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
					</div>
					<div class="col-xs-6  sub_app _hide">
						<a href="birthday/pttt.html" title="Web demo birthday"><img src="images/Gift-icon.png" alt=""></a>
					</div>
				</div>
				<div class="col-xs-3 col-xs-push-6 col-sm-6 col-sm-push-0 row">
					<div class="col-xs-6  sub_app" ng-repeat="(key, value) in leftApp | limitTo:2:10">
						<a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
					</div>
					<div class="col-xs-6  sub_app ">
						<a data-toggle="modal" href='#modal-id' title="Add Links"><img src="images/Gift-icon.png" alt=""></a>
					</div>
				</div>
				<div class="col-xs-6 col-xs-pull-3 col-sm-12 col-sm-pull-0 _container">
			<ng-view></ng-view>
		</div>
	</div>
</div>
<div class="col-sm-7 app_middle ">
	<div class=" col-xs-6 row _container">
		<div class="row">
			<div class="col-xs-3 app_main_mid" ng-repeat="(key, value) in centerAppMain | limitTo:4:0">
				<a href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
			</div>
		</div>
	</div>
	<div class="col-xs-6 row _container">
		<div class="row">
			<div class="col-xs-3 app_main_mid" ng-repeat="(key, value) in centerAppMain | limitTo:4:4">
				<a href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
			</div>
		</div>
	</div>
	<span class="title_youtube">Tìm nhanh trên YouTube...</span>
	<FORM method="GET" action="https://www.youtube.com/search" autocomplete="on">
		<input type="text" name="q" placeholder="Search youtube...">
		<button type="submit" name="btng"><img src="images/search_youtube_videos_you_tube_look-512.png" alt="" title="Tìm kiếm trên youtube"></button>
	</FORM>
	<div class="row custom">
		<div class=" col-xs-6 row _container">
			<div class="col-xs-3 app_add"  ng-repeat="(key, value) in centerAppMain" ng-show="key % 2 == 0 && key > 8">
				<a href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
			</div>
		</div>
		<div class=" col-xs-6 row _container">
			<div class="col-xs-3 app_add" ng-repeat="(key, value) in centerAppMain" ng-show="key % 2 != 0 && key > 8">
				<a href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
			</div>
		</div>
	</div>
</div>
<div class="row col-sm-2 app_right _container">
	<div class="col-xs-4 col-sm-12" ng-repeat="(key, value) in rightApp">
		<a href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
		<a href="{{value.link}}" title="{{value.title}}">{{value.name}}</a>
	</div>
</div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/jquery.snow.js"></script>	
<script type="text/javascript" src="js/mr.duc.js"></script>
<div class="modal fade" id="modal-id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Thêm app</h4>
			</div>
			<div class="modal-body">
				<form action="" method="POST" class="form-inline" role="form">
					<div class="form-group">
						<label class="" for="">Import link</label>
						<input type="text" class="form-control" id="" placeholder="Nhập link...">
					</div>
					<div class="form-group">
						<label class="" for="">Import image</label>
						<input type="text" class="form-control" id="" placeholder="Image...">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success">Action</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
