<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>💖💞ĐứÇ💝💘</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="images/logo.png">
  <meta name="description" content="This pages made for my knowleage">
  <meta name="author" content="Đức - Đoàn Văn Đức">
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="css/all.min.css"> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome/css/all.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body onload="clock(); nhay();" id="body" onresize="checkMenu();">
  <button type="button" class="btn btn-info p-0 btn-assis" id="assistive-left"><img src="images/assistive.png" alt=""></button>
  <header id="header" class="">
    <div class="container-xl">
      <div class="row">
        <div class="col-sm-6">
          <div class="d-block">
            <div class="d-inline text-left duc" id="duc">
              <name class="mrDuc">M</name>
              <name class="mrDuc">r</name>
              <name class="mrDuc">.</name>
              <name class="mrDuc">D</name>
              <name class="mrDuc">U</name>
              <name class="mrDuc">C</name>
            </div>
            <div class="d-inline float-right p-0 m-0 text-right clock">
              <span id="hour" style=""></span>
              <span id="minute" style=""></span>
              <span id="second" style="color: blue; font-size: 20px;"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col pl-0 pr-0">
              <div class="socical">
                <ul class="socical-me my-auto p-0 text-justify">
                  <li class="socical-icon"><a href="" target="_blank"><em class="fab fa-facebook-square"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="" target="_blank"><em class="fab fa-instagram"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="" target="_blank"><em class="fab fa-twitter-square"></em></a><br>
                  </li>
                  <li class="socical-icon"><a href="" target="_blank"><em class="fab fa-linkedin"></em></a><br>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col pl-0 pr-0">
              <div class="contact">
                <span class="contact-me">
                  &nbsp;<i class="fas fa-mobile-alt text-warning"><small class="text-primary">&nbsp;+84385.xxx.115</small></i>
                  <br>
                  <i class="far fa-envelope text-warning"><small class="text-body font-weight-bold"> mr.duc0616@gmail.com</small></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->
  <div id="bg-menu-l">
  </div>
  <div class="container-xl main">
    <div class="row">
      <div class="col-sm-3 pl-4 pr-4 main-left" id="mainLeft">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-3 col-sm-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:4:4">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-6">
            <div class="row">
              <div class="col-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:2:8">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" id="left{{value.id}}"></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-12 order-sm-6 p-0">
           <iframe src="https://www.youtube.com/embed/is8SfylIwmg?&controls=1&playlist=is8SfylIwmg&loop=1" allowfullscreen>
            <!-- <iframe src="../data/dfgh2).mp4" allowfullscreen> -->
            </iframe>
          </div>
          <div class="col-3 col-sm-6 order-sm-1">
            <div class="row">
              <div class="col-6 p-sm-1 p-md-2 p-1" ng-repeat="(key, value) in leftApp | limitTo:2:10">
                <a class="" href="{{value.link}}" title="{{value.title}}"><img ng-src="{{value.image}}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 main-center">

        <ng-view></ng-view>
      </div>
      <div class="col-sm-2 p-md-2 pl-2 pr-2 main-right ">
        <table class="table table-bordered table-inverse table-hover">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js and Bootstrap JS. -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/jquery-3.5.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>